Repository DynamicYieldProjects/funnel-rocket: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, safety, isort

markdownlint:
  name: Lint Markdown files
  language: docker_image
  entry: 06kellyjac/markdownlint-cli:0.27.1
  args:
  - --fix

safety:
  name: Vulnerability Check
  language: docker_image
  entry: pyupio/safety:latest
  args:
  - safety
  - check
  - -r

isort:
  name: Sort Imports
  language: docker_image
  entry: xcgd/isort:latest isort

Add additions for docker lambda workers
  docker-compose.yml
  docs/example-dataset.md
Due: markdownlint

A few typos and fixes
  README.md
Due: markdownlint

Tweaking last typos and data/ path issues
  docs/example-dataset.md
Due: markdownlint

Bump version
  setup.py
Due: isort

fix: dependabot detects docker dependencies (#57)
  .github/dependabot.yml
  docker/all-in-one.Dockerfile
  docker/local-lambda.Dockerfile
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  safety: any of: test-requirements
  isort: any of: \.py$
